.footer {

    
   
    
 }
 .footer-container__content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
     border-top: 1px solid rgba(255, 255, 255, 0.1);
     
 }
 
 .footer__col {
    display: flex;
    align-items: center;

}
.footer__col_align_right {
    justify-content: flex-end;
   
    
}
.service-page-wrapper .footer {
    padding: 35px 0;
}