.partners {
 display: flex;
 flex-wrap: wrap;
 margin-left: -30px;
    
 }
.partners__item {
    filter: grayscale(100%);
    margin-left: 46px;
   
 }
 .partners__item:hover {
    filter: grayscale(0);
    transition: 1;
 }
 .partners__item:nth-child(4n + 1) {
    margin-left: 0;
       
     }
.partners__link {
    display: flex;
    width: 245px;
    height: 100px;
    align-items: center;
    justify-content: center;

 }
 .inner-section {
     background: #F4F5F5;
     padding: 95px 0;
 }
 .inner-section__title {
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 100px;
     color: #000;
 }