.welcome-bg {
    background: url('../../img/screen.jpg') center center no-repeat;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.welcome__logo {
    
}
.welcome-bg .page-title__subtitle {
    margin-bottom: 52px;

}

.welcome--anim {
    
    opacity: 0;
    animation: zoom 1s ease-in;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    from {
        transform: scale(0.7);
    }
    10% {
        opacity: 0.5;
    }
    20% {
        transform: scale(1.15);
        opacity: 1;
        ;
    }
    40% {
        transform: scale(0.9);
        
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    to {
        opacity: 1;
    }
}